APP_ENV=dev
APP_DEBUG=1

DB_HOST=mysql
DB_NAME=libris
DB_USERNAME=libris
DB_PASSWORD=libris
DB_ROOT_PASSWORD=root
DB_PORT=3307

HTTP_PORT=8080
COOKIE_VALIDATION_KEY=change-me-in-your-environment

SMSPILOT_API_KEY=XXXXXXXXXXXXYYYYYYYYYYYYXXXXXXXXXXXXYYYYYYYYYYYYXXXXXXXXXXXXYYYY
SMSPILOT_SENDER=INFORM
TRUSTED_PROXIES=
