/vendor
/node_modules
composer.phar
phpunit.phar
/phpunit.xml

/runtime/*
!/runtime/.gitkeep
/src/runtime

/web/assets/*
!/web/assets/.gitkeep
!/web/uploads/.gitkeep
/web/uploads

/tests/Support/output/*
!/tests/Support/output/.gitkeep
/tests/Support/_generated
/test-results
/playwright-report

/config/*-local.php
.env
.env.local

.idea
.vscode
nbproject
.buildpath
.project
.settings
.DS_Store
Thumbs.db
/.vagrant
